<div class="relative overflow-hidden bg-gray-50 h-screen">
  <div class="relative pt-6 pb-16 sm:pb-24">
    <main class="mx-auto mt-16 max-w-7xl px-4 sm:mt-24">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
          <span class="block xl:inline">Tutorial Live</span>
        </h1>
      </div>
    </main>
  </div>
</div>
